<h1> LOGIN </h1>
<br><br>
Einloggen:
<br><br>
<%= link_to "Identity(nur zum testen)", '/auth/identity', class: "btn btn-mini btn-info"  %> <%= link_to "CAS", '/auth/cas', class: "btn btn-mini btn-info" %>
