<h1> LOGIN </h1>
<br><br>
Einloggen:
<br><br>
<%= link_to "Simple(geht net)", '/auth/identity', :class => "btn btn-mini btn-info"  %>
<br><br>
<%= link_to "CAS", '/auth/cas', :class => "btn btn-mini btn-info" %>
