<%= render partial: 'shared/script' %>

<p><%= link_to "Download", download_script_path(@script), class: "btn btn-mini btn-info" %></p>

<%= render partial: 'scripts/index_buttons', locals: {script: @script} %>


<br>
<br>

<%= render 'comment' %>




