<% if entity.errors.any? %>
    <div id="error_explanation">
      <h2><%= entity.errors.count %> Fehler verhindern, dass <%= text %>  gespeichert werden kann:</h2>
      <ul>
        <% entity.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>